@charset "utf-8";
/* CSS Document */
.accbala_main{
	max-width: 640px;
	min-width: 305px;
	height: auto;
	/*ie6下不支持最大最小宽度*/
	_width:expression(document.body.clientWidth < 320 ? "320px" : "auto");
	_width:expression(document.body.clientWidth > 640 ? "640px" : "auto");
	margin: 0 auto;
	}
.signmain{
	overflow-y: scroll;
	background-color: #fff;
	}
.signmain .accou_user{
	height: 60px;
	line-height: 60px;
	margin-left: 15px;
	margin-right: 15px;
	color: #666;
	font-size: 18px;
	font-weight: 500;
	border-bottom: thin solid #ccc;
	overflow: hidden;
	white-space: nowrap;
	}

.signmain .accou_ope{
	height: 50px;
	line-height: 50px;
	color: #666;
	font-size: 16px;
	font-weight: 500;
	padding-left: 15px;
	border-bottom: thin solid #ccc;
	}
.accou_ope .fontcolorred{
	color: #FF0036;
	}
.accou_ope .accou_recharge{
	height: 30px;
	margin-top: 10px;
	padding-right: 20px;
	line-height: 30px;
	}
.accou_ope .accou_recharge input{
	width: 70px;
	background-color: #33A3FF;
	border-radius: 8px;
	color: #fff;
	}
.signmain .listname{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	}
.signmain .listname ul li{
	float:left;
	width: 50%;
	text-align: center;
	color: #ccc;
	font-size: 17px;
	}
.signmain .listname ul li a{
	display: inline-block;
	width: 95%;
	height: 49px;
	color: #666;

	}
.signmain .listname ul li .current{
	color: #33A3FF;
	border-bottom: 2px solid #33A3FF;
	}
.signmain .list{
	color: #666;
	font-size: 17px;
	font-weight: 500;
	padding-left: 10px;
	height: 50px;
	line-height: 50px;
	border-bottom: 2px solid #ccc;
	}
.list .sto_record{
	display: none;
	}
.exp_record .record_way,.sto_record .record_way{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	}